<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/index.css" />
    <title>#School - Login</title>
  </head>
  <body>
    <div class="center">
      <div id="login-div">
        <h1>Bejelentkezés</h1>
        <form action="" id="login">
          <div id="login-elements">
            <label for="email-input">E-mail</label>
            <input type="text" id="email-input"/>
            <label for="password-input">Jelszó</label>
            <input type="password" id="password-input"/>
            <p><a href="/register">Regisztrálj</a> ha nincs fiókod</p>
            <button type="submit">Belépek</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
