<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/register.css">
    <script src="/static/js/register.js" defer></script>
    <title>#School - Register</title>
</head>
<body>
    <div class="center">
        <div id="register-div">
          <h1>Regisztráció</h1>
          <form id="register" >
            <div id="register-elements">
              <label for="email-input">E-mail</label>
              <input type="text" id="email-input"/>
              <label for="realname-input">Teljes név</label>
              <input type="text" id="realname-input"/>
              <label for="username-input">Felhasználónév</label>
              <input type="text" id="username-input"/>
              <label for="password-input">Jelszó</label>
              <input type="password" id="password-input"/>
              <label for="password-input-again">Jelszó megerősítése</label>
              <input type="password" id="password-input-again"/>
              <p>Van fiókod? <a href="/">Lépj be</a></p>
              <button type="submit" id="register-submit">Regisztrálok</button>
            </div>
          </form>
        </div>
      </div>
</body>
</html>